<!DOCTYPE html>
<html>
<head>
    <title>Meetups TW</title>
    <link rel='stylesheet' href="/stylesheets/reset.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <a href="http://www.thoughtworks.com">
            <img class="logo" src="/Images/TW_logo.svg" alt="Thoughtworks logo">
        </a>
        <img src="/images/meetup_at_TW.jpg" alt="Picture of Thoughtworks team inside of some office">
        <p>Proposal Description</p>
    </header>

    <ol class="events">
        <li>
            <article class="">
                <h1>Chatbot</h1>
                <div class="">
                    <p>Terça</p>
                    <p>06/12</p>
                    <p>19:00</p>
                </div>
                <ul>
                    <li>AI</li>
                    <li>UX</li>
                </ul>
                <p>Vamos discutir como os chatbots estão mudando a forma de nos relacionarmos com nossos clientes</p>
                <button type="button">Participar desse evento</button>
            </article>
        </li>
        <li>
            <article class="">
                <h1>Ladies that UX</h1>
                <div class="">
                    <p>Quinta</p>
                    <p>08/12</p>
                    <p>19:30</p>
                </div>
                <ul>
                    <li>UX</li>
                </ul>
                <p>Meetup internacional focado em discussões de UX de e para profissionais mulheres</p>
                <button type="button">Participar desse evento</button>
            </article>
        </li>
        <li>
            <article class="">
                <h1>Happy Hour Ágil</h1>
                <div class="">
                    <p>Segunda</p>
                    <p>12/12</p>
                    <p>19:00</p>
                </div>
                <ul>
                    <li>Agile</li>
                    <li>Devs</li>
                </ul>
                <p>Junte-se aos vários agilistas que vêm discutir suas frustrações e aprendizados, beber juntos e construir conhecimento!</p>
                <button type="button">Participar desse evento</button>
            </article>
        </li>
    </ol>
</body>
</html>
