<!DOCTYPE html>
<html>
<head>
    <title>Meetups TW</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <a href="http://www.thoughtworks.com">Thoughtworks</a>
    <img src="/images/TWTeam.png" alt="Picture of Thoughtworks team inside of some office">
    <p>Proposal Description</p>

    <ol>
        <li>
            <article class="">
                <h1>Chatbot</h1>
                <div class="">
                    <p>Terça</p>
                    <p>16</p>
                    <p>19:00</p>
                </div>
                <ul>
                    <li>AI</li>
                    <li>UX</li>
                </ul>
                <p>Description of event.</p>
                <button type="button">Participar desse evento</button>
            </article>
        </li>
    </ol>
</body>
</html>
