/* Faremos nosso CSS aqui */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
header {
    background-color: #F158A1;
    text-align: center;
    padding: 8% 8% 15em;
    top: 0;
}
header .logo {
    width: 10em;
    margin-top: 1em;
}
header h1 {
    font-size: 3.3em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
}
header h1::before {
    content: "";
    border-top: 1px solid white;
    display: block;
    margin: 0 auto;
    width: 30vw;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
header p {
    text-align: left;
    color: white;
    font-size: 1.2em;
    margin-top: 2em;
    line-height: 1.3em;
}
header .address {
    font-style: italic;
}
.events {
    list-style: none;
    transform: translateY(-12em);
}

.event {
    margin: 1.4em;
    position: relative;
}
.event h1 {
    font-size: 2.5em;
    font-weight: 800;
    text-transform: uppercase;
    color: #F158A1;
}
.event .date {
    font-size: 1.25em;
    background-color: #424242;
    padding: 0.9em;
    display: block;
    text-align: right;
    border-radius: 0.5em 0.5em 0 0;
}
.event .details {
    padding: 1.7em;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
    border-radius: 0 0 0.5em 0.5em;
    background-color: white;
}
.event .date p {
    color: white;
}
.event .details .theme li {
    display: inline-block;
    color: #424242;
    margin-top: 0.3em;
    font-size: 1em;
}
.event .details .theme li::before {
    content: "•";
    color: #F158A1;
    margin-left: 1em;
    margin-right: 1em;
}
.event .details .theme li:first-child::before {
    display: none;
}
.event .details p {
    color: #424242;
    font-size: 1em;
    margin-top: 1em;
    line-height: 1.3em;
}
.event button {
    background-color: white;
    width: 100%;
    height: 3.2em;
    border-radius: 0.5em;
    border-top: 1px dashed #B3B3B3;
    font-size: 1.0em;
    color: #424242;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
}
@media(min-width: 960px) {
    header {
        width: 50vw;
        position: fixed;
        box-sizing: border-box;
    }
    .events {
        margin-left: 50vw;
        transform: none;
    }
}
@media(max-width: 460px) {
    header h1::before {
        width: 58vw;
    }
}
